/*Document format*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Context class*/
.center{
    width: 1280 px;
    margin: 0 auto;
}

/*Header class*/
.header{
    width: 100 px;
    height: 90 px;
    background-color: #212343;
}

