/*Document format*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Body height*/
html,body{
    height: 100%;
}

/*Context class*/
.center{
    width: 1280px;
    margin: 0 auto;
}

/*Header class*/
.header{
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 15px;
}

/*Container-banner class*/
.container-banner{
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

/*Form class*/
.form{
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid #ccc;
    background-color: white;
}

.form h2{
    font-weight: normal;
    color: #999999;
    font-size: 20px;
}

/*Input container class*/
.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: #BBBB;
    font-size: 17px;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}


/*Form class warning paragraph*/
.form p{
    display: inline-block;
    width: 100%;
    color: #BBBB;
    font-size: 17px;
    margin: 20px 0;
}

/*Form class submit button*/
.form .input-submit-container{
    text-align: center;
}

.form input[type=submit]{
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #212343;
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #33a6d3;
}

.form input[type=submit]:hover{
    background-color: #1a1c35;
}